In [2]:
import numpy as np
import pandas as pd

dir = 'C:/Users/juwan/Desktop/산학프로젝트/using_data/'

In [72]:
pd.options.display.max_colwidth = 2000

In [4]:
content_raw = pd.read_csv(dir + 'policy_content.csv', encoding = 'euc-kr')

In [6]:
content = content_raw.copy()

In [7]:
content['content'] = content_raw['name'] + content_raw['description'] + content_raw['content']

In [17]:
# 단어 속해있는지 확인하는 함수
# 해당 텍스트에 단어 리스트 중 하나라도 들어있으면 True

def find_word(text, words_list):
    for i in words_list:
        if text.find(i) == -1:
            continue
        else:
            return True

In [24]:
index_list = []

In [ ]:
# 1. 지원금

words_list = ['만원','0원','수당','교육비','인건비','등록금','훈련비','지원비','지원금','자금','사업비','활동비','교통비', \
              '임차비','만 원','천 원','2원','급여','연구비','금전 지원','장려금','운영비', '체재비', '재료비', '의료비', '식비', '자기계발비', '교재비', '생활비', '부대비', '면접비',
             '개발비', '조사비', '관리비', '노무비' ,'숙박비' ,'휴가비', '직무교육비', '구입비', '출장비', '주거비', 
             '교통복지비용', '문화활동비', '주거정착금', '준비금', '퇴직금', '장학금', '고용장려금', '임금', '고용장려금',
             '보조금', '생활임금', '창업자금', '보상금', '상여금', '대여료']
tf_list = []

for text in content['content']:
    if find_word(text,words_list) == True:
        tf_list.append(True)
    else:
        tf_list.append(False)

# 합치는 용
index_list.extend(content.loc[pd.Series(tf_list)]['index'])
        
df1 = content.loc[pd.Series(tf_list)]
df1.shape[0]

In [26]:
# 2. 면접

words_list = ['면접','면접정장','대여']
tf_list = []

for text in content['content']:
    if find_word(text,words_list) == True:
        tf_list.append(True)
    else:
        tf_list.append(False)
        
# 합치는 용
index_list.extend(content.loc[pd.Series(tf_list)]['index'])        
        
df2 = content.loc[pd.Series(tf_list)]
df2.shape[0]

123

In [27]:
# 3. 교육

words_list = ['교육','학습','강좌','양성','훈련','연수과정','기본과정','수강','자격증 취득지원'] 
tf_list = []

for text in content['content']:
    if find_word(text,words_list) == True:
        tf_list.append(True)
    else:
        tf_list.append(False)
        
# 합치는 용
index_list.extend(content.loc[pd.Series(tf_list)]['index'])
        
df3 = content.loc[pd.Series(tf_list)]
df3.shape[0]

476

In [28]:
# 4. 일자리

words_list = ['일자리제공','실습','구인구직','중소기업','인턴십','인턴','직접일자리','기업연계','현장실습', \
              '단기일자리','실무 경험','연계','취업 매칭', '청년일자리', '일자리창출', '민간일자리', '여성일자리']
tf_list = []

for text in content['content']:
    if find_word(text,words_list) == True:
        tf_list.append(True)
    else:
        tf_list.append(False)
        
# 합치는 용
index_list.extend(content.loc[pd.Series(tf_list)]['index'])

df4 = content.loc[pd.Series(tf_list)]
df4.shape[0]

422

In [29]:
# 5. 취업상담

words_list = ['멘토링','취업컨설팅','특강','해석','자기소개서','이력서','취업지원상담','상담','스터디공간','스터디룸','컨설팅' \
              ,'취업박람회','일자리센터','탐방','청년공간', '일자리카페','활동공간','일자리 센터','일자리정보망']
tf_list = []

for text in content['content']:
    if find_word(text,words_list) == True:
        tf_list.append(True)
    else:
        tf_list.append(False)
        
# 합치는 용
index_list.extend(content.loc[pd.Series(tf_list)]['index'])
        
df5 = content.loc[pd.Series(tf_list)]
df5.shape[0]

288

In [ ]:
from collections import Counter

# 카테고리에 속하는 애들 개수

len(dict(Counter(index_list)).keys())

In [66]:
cnt_df = pd.DataFrame({'index': dict(Counter(index_list)).keys(),
                       'cnt' : dict(Counter(index_list)).values()})

cnt_df.groupby('cnt').count() # sum 949

     index
cnt
1      337
2      396
3      178
4       36
5        2

In [39]:
false_list = []
for i in content['index']:
    if i not in dict(Counter(index_list)).keys():
        false_list.append(i)

In [40]:
pd.set_option('display.max_rows',None)

In [41]:
content.loc[pd.Series([i not in dict(Counter(index_list)).keys() for i in content['index']])].shape

(51, 5)

In [42]:
# 기타
l1 = [43, 217, 267,435, 562, 582, 587] # 지원금
l2 = [] # 면접
l3 = [] # 교육
l4 = [15, 111, 129, 540, 551, 659, 700, 1008, 2002, 2015, 2038, 3052] # 일자리
l5 = [29, 51, 67, 74, 110, 152, 164, 168, 180, 329, 423, 477, 480, 496, 561, 591, 705, 725, 779, 1018, 1043, 1044, 1050, 1051, 1071, 2002, 2016, 2061, 3066, 3069] # 상담

In [43]:
etc_1 = content.loc[pd.Series([i in l1 for i in content['index']])]
etc_2 = content.loc[pd.Series([i in l2 for i in content['index']])]
etc_3 = content.loc[pd.Series([i in l3 for i in content['index']])]
etc_4 = content.loc[pd.Series([i in l4 for i in content['index']])]
etc_5 = content.loc[pd.Series([i in l5 for i in content['index']])]

In [44]:
df_money = pd.concat([df1, etc_1])
df_interview = pd.concat([df2, etc_2])
df_edu = pd.concat([df3, etc_3])
df_job = pd.concat([df4, etc_4])
df_consult = pd.concat([df5, etc_5])

In [45]:
df_money['cat'] = 'money'
df_interview['cat'] = 'interview'
df_edu['cat'] = 'edu'
df_job['cat'] = 'job'
df_consult['cat'] = 'consult'

In [46]:
df_cat = pd.concat([df_money, df_job, df_interview, df_edu, df_consult])

In [ ]:
a = list(content['index'])
num = list(df_cat['index'].unique())

for i in a:
    if i not in num:
        print(i)

In [ ]:
df_cat.groupby('cat').count()

In [50]:
content['money'] = 0
content['interview'] = 0
content['edu'] = 0
content['job'] = 0
content['consult'] = 0

In [51]:
for i in range(len(df_cat)):
    if df_cat.iloc[i]['cat'] == 'money':
        content.loc[content['index'] == df_cat.iloc[i]['index'], 'money'] = 1
    elif df_cat.iloc[i]['cat'] == 'interview':
        content.loc[content['index'] == df_cat.iloc[i]['index'], 'interview'] = 1
    elif df_cat.iloc[i]['cat'] == 'edu':
        content.loc[content['index'] == df_cat.iloc[i]['index'], 'edu'] = 1
    elif df_cat.iloc[i]['cat'] == 'job':
        content.loc[content['index'] == df_cat.iloc[i]['index'], 'job'] = 1
    elif df_cat.iloc[i]['cat'] == 'consult':
        content.loc[content['index'] == df_cat.iloc[i]['index'], 'consult'] = 1

In [52]:
pd.options.display.max_colwidth = 50

In [53]:
content.to_csv('content_tagging.csv', index = False)